<!DOCTYPE html>
<html>
<head>
  <title>Docs</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body unresolved>
  {%- if apiInfo -%}
  <header>
    <h1>{{apiInfo.title}}</h1>
    <p>{{apiInfo.description}}</p>
    <p><a href="{{apiInfo.termsOfServiceUrl}}">Terms of Service</a></p>
    <p>Contact: <a href="mailto:{{apiInfo.contact}}">{{apiInfo.contact}}</a></p>
    <p>License: <a href="{{apiInfo.licenseUrl}}">{{apiInfo.license}}</a></p>
  </header>
  {%- endif -%}
  <section id="api">
    <h3 class="basepath">{{apiDocuments.0.basePath}}</h3>
    <h3 class="version">{{apiDocuments.0.apiVersion}}</h3>
  </section>
  <ul id="apis">
  {% for apiDoc in apiDocuments -%}
  {% for api in apiDoc.apis -%}
    <li class="api">
      <h2 class="path">{{api.path}}</h2>
      <ul class="operations">
        {% for op in api.operations -%}
        <li class="operation {{op.method}}">
          <header>
            <h4 class="method">{{op.method}}</h4>
            <h4 class="summary">{{op.summary}}</h4>
          </header>
          {% if op.queryParameters -%}
          <section class="parameters">
            <h4>Query parameters:</h4>
            <ul>
            {% for param in op.queryParameters -%}
              <li class="param">
                {% if param.required -%}
                <div class="required">required</div>
                {%- else -%}
                <div class="optional">optional</div>
                {%- endif %}
                <div class="name">{{param.name}}</div>
                <div class="type">{{param.type}}</div>
                <div class="desc">{{param.description}}</div>
              </li>
              {%- endfor %}
            </ul>
          </section>
          {%- endif %}
          {% if op.requestBody %}
          <section class="request">
            <h4>Request:</h4>
            <div class="param">
              {% if op.requestBody.required -%}
              <div class="required">required</div>
              {%- else -%}
              <div class="optional">optional</div>
              {%- endif %}
              <div class="type"><a href="#model_{{op.requestBody.type}}">{{op.requestBody.type}}</a></div>
              <div class="desc">{{op.requestBody.description}}</div>
            </div>
          </section>
          {%- endif %}
          <section class="response">
            <h4>Response:</h4>
            <div class="type">
              {% if op.type == 'array' -%}
              <span class="array">array</span>
              <a href="#model_{{op|itemsref}}">{{op|itemsref}}</a>
              {%- elif op.type in ['string', 'number'] -%}
              <span>{{op.type}}</span>
              {%- elif op.type != 'void' -%}
              <a href="#model_{{op.type}}">{{op.type}}</a>
              {%- endif %}
            </div>
          </section>
        </li>
        {%- endfor %}
      </ul>
    </li>
  {%- endfor %}
  {%- endfor %}
  </ul>
  <script>
setTimeout(function(){document.body.removeAttribute('unresolved')},100);
  </script>
</body>
</html>
