body {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}
body[unresolved] {
  opacity: 0;
}

html, body {
  width: 100%; height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #6478ff;
}
a:hover, a:active {
  text-decoration: underline;
}

body {
  font: 16px/1.2 "Source Sans Pro", arial;
  color: #333;
  background-color: #f8f8f8;
}

h2, h3 {
  font-weight: bold;
  line-height: 2;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
  line-height: 2;
}

#api,
#apis,
#models {
  padding: 10px;
}

#api h3, #models h3 {
  padding: 4px 8px;
}

#api .basepath {
  color: #333;
}
#api .version {
  color: #999;
}

.api, .model {
  padding: 10px;
  margin: 2em;
  background-color: #fff;
  box-shadow: 0 1px 10px #999;
}

.operations {
  margin: 0 10px;
}

.operation {
  border: 1px solid;
  margin: 10px 0;
  border-top-left-radius: 5px;
  overflow: hidden;
}
.operation header .method {
  width: 60px;
  text-align: center;
}
.operation header .method,
.operation header .summary {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px;
  font-weight: bold;
}

.operation.GET {
  border-color: #9ce5a0;
}
.operation.GET header {
  background-color: #b7f5c1;
}
.operation.GET header .method {
  color: #fff;
  background-color: #9ce5a0;
}

.operation.POST {
  border-color: #ffd790;
}
.operation.POST header {
  background-color: #fff0c0;
}
.operation.POST header .method {
  color: #fff;
  background-color: #ffd790;
}

.operation .param,
.model .prop {
  background-color: #f1f1f1;
  margin-top: 5px;
}
.operation .param .name,
.operation .param .type,
.operation .param .required,
.operation .param .optional,
.model .prop .type,
.model .prop .name {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  padding: 4px 8px;
}

.operation .param .name {
  width: 90px;
  font-weight: bold;
}
.operation .param .type {
  width: 50px;
}
.operation .param .required,
.operation .param .optional {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  width: 60px;
  color: #fff;
}
.operation .param .required {
  background-color: #d51;
}
.operation .param .optional {
  background-color: #c1c1c1;
}
.operation .param .desc {
  color: #555;
}

.parameters,
.request,
.response {
  padding: 10px;
}

.request .type {
  font-weight: bold;
}

.response .type {
  background-color: #f1f1f1;
  font-weight: bold;
  line-height: 24px;
}
.response .type > span,
.response .type > a {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px;
}
.response .type .array {
  background-color: #7cb;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  width: 60px;
  color: #fff;
  text-align: center;
}

.model .prop .type {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-all;
  margin-right: 10px;
}

.model .prop .name {
  font-weight: bold;
}
